:root {
    /* Primary */
    --dark-violet: hsl(256, 26%, 20%);
    --grayish-blue: hsl(216, 30%, 68%);

    /* Neutral */
    --very-dark-violet: hsl(270, 9%, 17%);
    --dark-grayish-violet: hsl(273, 4%, 51%);
    --very-light-gray: hsl(0, 0%, 98%);

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General */
body {
    font-family: 'Karla', sans-serif;
}

h1, h2, h3 {
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    color: var(--very-dark-violet);
    line-height: 48px;
}
h1 {font-size: 46px;}

p {
    line-height: 25px;
    color: var(--dark-grayish-violet);
}
/* Remove underline from links */
a {text-decoration: none;}

/* Small breakline */
.break-line-small {
    height: 1px;
    width: 150px;
    background-color: var(--grayish-blue);
}

/* Navbar elements */
.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list li a{
    color: var(--grayish-blue);
    text-transform: uppercase;
}
.list .btn {
    color: var(--very-dark-violet);
}
/* Button */
.btn {
    color: var(--very-dark-violet);
    text-transform: uppercase;
    border: 2px var(--very-dark-violet) solid;
    padding: 7px 22px 7px 22px;
    display: inline-block;
    letter-spacing: 1px;
}

/* Showcase */
.showcase {
    background-color: var(--dark-violet);
    color: var(--very-light-gray);
}

.showcase h1{    
    color: var(--very-light-gray);
}

/* Presentation grid */
.grid-presentation {
    margin-top: 50px;
}
.item img{
    margin-bottom: 20px;
}

/* How we work */
.how-we-work {
    background: var(--dark-violet);
    color: var(--very-light-gray);
    padding-top: 66px;
    padding-bottom: 66px;
}
.how-we-work h2{    
    color: var(--very-light-gray);
    line-height: 40px;
    font-size: 40px;
    margin-bottom: 40px;
}
.how-we-work .btn {
    color: var(--very-light-gray);
    border: 2px var(--very-light-gray) solid;
}

/* Footer */
footer {
    background-color: var(--very-light-gray);
}

/* Break line */
.break-line {
    height: 1px;
    width: 100%;
    background-color: var(--grayish-blue);
}

/* Desktop */
@media (min-width: 541px){
    /* Hide mobile elements */
    .mobile {
        display: none;
    }
    h1 {
        font-size: 70px;
        line-height: 60px;
    }
    p {
        padding-top: 25px;
    }
    #nav-top {
        position: absolute;
        top: 0;
        z-index: 2;
        width: 100vw;
        margin: auto;
        align-self: center;
        left: 0;
        right: 0;
        /* opacity: 0.9999; */
        background-color: white;
    }
    /* Container for desktop */
    .container {
        max-width: 1100px;
        margin: auto;
    }
    /* Navbar */
    .list li {
        font-weight: 700;
        margin-left: 15px;
        margin-right: 15px;
    }
    .list li:last-child{
        margin-right: 0;
    }
    /* Showcase */
    .showcase {
        padding-top: 100px;
        padding-bottom: 125px;
        margin-top: 77px;
    }
    /* Showcase content */
    .showcase-content {
        padding-top: 70px;
        display: flex;
        flex-direction: column;
        /* justify-content: flex-start; */
        align-items: flex-start;
        width: 45%;
    }
    .showcase .btn {
        color: var(--very-light-gray);
        border: 2px var(--very-light-gray) solid;
        display: inline-block;
        /* margin: auto; */
        margin-top: 30px;
    }
    .showcase .container {
        position: relative;
    }
    /* Bg image */
    .bg-desktop {
        position: absolute;
        top: 0;
        right: 0;
    }
    /* Pattern right */
    .pattern-desktop-right {
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0.9999;
    }

    /* Presentation */
    .presentation {
        margin-top: 300px;
        margin-bottom: 150px;
    }
    .presentation h1 {
        margin-top: 60px;
        margin-bottom: 80px;
    }
    /* Presantation grid */
    .grid-presentation {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
    }
    .grid-presentation .item {
        width: 100%;
    }
    .grid-presentation .item h2 {
        margin-bottom: -5px;
    }

    /* How we work */
    .how-we-work {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 65px;
        padding-right: 65px;
        overflow: hidden;
        opacity: 0.9999;
        margin-bottom: 140px;
    }
    .how-we-work h2 {
        font-size: 50px;
        width: 45%;
        margin-bottom: 0;
        line-height: 50px;
    }

    .button-div {
        position: absolute;
        right: 65px;
        opacity: 0.9999;
        z-index: 1;
    }
    .bg-pattern-desktop-how-we-work {
        position: absolute;
        top: 0;
        right: 0;
    }

    /* Footer */
    footer {
        /* background-color: violet; */
        background-image: url("./img/bg-pattern-footer-desktop.svg");
        background-position: top left;
        background-size: 40% 70%;
        background-repeat: no-repeat;
    }
    
    footer .navbar .container{
        padding-top: 65px;
        border-bottom: 1px var(--grayish-blue) solid;
    }

    /* *************** */

    footer .list li {
        margin-left: 7px;
        margin-right: 7px;
    }

    /* Social link list */
    footer .grid-footer {
        margin-bottom: 45px;
        display: flex;
        /* grid-template-columns: repeat(4, 1fr); */
        justify-content: space-between;
        width: 80%;
        margin-top: 30px;
    }
    .grid-footer .item-footer {
        /* display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start; */
    }
    .item-footer ul{
        list-style: none;
        margin-top: 20px;
        margin-bottom: 25px;
    }
    .item-footer ul:last-child {
        margin-bottom: 0;
    }
    .item-footer ul li{
        text-align: left;
        text-transform: uppercase;
        color: var(--very-dark-violet);
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 1px;
        margin-bottom: 15px;
    }
    .item-footer ul li:first-child{
        color: var(--grayish-blue);
    }
    .item-footer ul li:nth-child(2){
        visibility: hidden;
        margin-bottom: 0;
    }


}

/* Mobile */
@media (max-width: 540px) {
    /* Hide desktop elements */
    .desktop {
        display: none;
    }
    /* Container for mobile*/
    .container {
        max-width: 88%;
        margin: auto;
    }
    /* Bakcground image */
    .image-bg{
        height: 440px;
        width: auto;
        background: url("./img/image-intro-mobile.jpg") no-repeat center center/cover;
    }
    /* Showcase */
    .showcase {
        position: relative;
        padding-top: 90px;
        padding-bottom: 90px;
    }
    /* Pattern bg left */
    .pattern-mobile-left {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        opacity: 0.9999;
    }
    /* Showcase header */
    .showcase h1 {
        z-index: 2;
        text-align: center;
        opacity: 0.9999;
    }
    /* Showcase content */
    .showcase p {
        text-align: center;
        padding-top: 15px;
    }
    /* Pattern bg right */
    .pattern-mobile-right {
        position: absolute;
        right: 0;
        top: 350px;
        opacity: 0.9999;
    }
    /* Showcase content */
    .showcase-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /* Showcase button */
    .showcase .btn {
        color: var(--very-light-gray);
        border: 2px var(--very-light-gray) solid;
        display: inline-block;
        margin: 35px auto 0 auto;
    }

    /* Presentation */
    .presentation {
        margin: 100px 0 170px 0;
        padding-top: 35px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 140px;
    }

    /* Break line */
    .break-line-small {
        margin: 0 auto 35px auto;
    }

    /* Presentation grid */
    .grid-presentation {
        padding-top: 30px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    /* Presentation grid items */
    .item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 65px;
    }
    .item:first-child {
        padding-top: 0;
    }
    .item p {
        text-align: center;
    }

    /* How we work */ 
    .how-we-work {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .how-we-work h2 {
        text-align: center;
        opacity: 0.9999;
    }
    /* How we work bg pattern */
    .bg-pattern-how-we-work {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 0;
        opacity: 0.9999;
    }

    /* Footer */
    footer {
        position: relative;
        background-color: var(--very-light-gray);
        padding-top: 75px;
        padding-bottom: 30px;
        margin-top: 150px;
        /* margin-bottom: -45px !important; */
    }
    /* Bg pattern footer */
    .bg-pattern-footer-mobile {
        position: absolute;
        top: 0;
        opacity: 0.9999;
    }

    footer .navbar .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0.9999;
        z-index: 2;
    }
    footer .list {
        margin-top: 30px;
        margin-bottom: 40px;
    }
    footer .list li {
        margin-left: 7px;
        margin-right: 7px;
    }

    /* Social link list */
    footer .grid-footer {
        margin-bottom: 45px;
    }
    .grid-footer .item-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .item-footer ul{
        list-style: none;
        margin-top: 20px;
        margin-bottom: 25px;
    }
    .item-footer ul:last-child {
        margin-bottom: 0;
    }
    .item-footer ul li{
        text-align: center;
        text-transform: uppercase;
        color: var(--very-dark-violet);
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 1px;
        margin-bottom: 15px;
    }
    .item-footer ul li:first-child{
        color: var(--grayish-blue);
    }
    .item-footer ul li:nth-child(2){
        visibility: hidden;
        margin-bottom: 0;
    }

}